@charset "utf-8"
/* CSS Document */

* {
    box-sizing: border-box;
}

body {
    font-family: "Comic Sans MS", "Microsoft YaHei";
    background: #333333;
}

table {
    font-size: 15px;
    margin: auto;
    text-align: center;
    background-color: #DDDDDD;
}

caption {
    color: #509CCC;
    font-size: 20px;
    margin: 15px 0;
}

thead {
    font-weight: bold;
    background-color:#AAAAAA;
}

a:link, a:visited, a:hover, a:active {
    color: #B37334;
}