@charset "utf-8";
/* CSS Document */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Comic Sans MS', 'Microsoft YaHei';
    background-color: #333333;
    color: #ffffff;
    font-size: 18px;
}

h3 {
    color: #509CCC;
    text-align: center;
}