@charset "utf-8";
/* CSS Document */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Comic Sans MS', 'Microsoft YaHei';
    background-color: #333333;
}

p {
    text-align: center;
    font-size: 50px;
    letter-spacing: 20px;
    background-color: #000000;
    color: transparent;
    text-shadow: 2px 2px 2px #FFE67D;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

div {
    font-size: 25px;
    height: 800px;
    width: 200px;
    margin: auto;
}

a:link, a:visited, a:hover, a:active {
    color: #96e7e0;
}