@charset "utf-8";
/* CSS Document */

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Comic Sans MS', 'Microsoft YaHei';
    background-color: #333333;
}

pre {
    font-size: 55px;
    letter-spacing: 20px;
    background-color: #000000;
    color: transparent;
    text-shadow: 2px 2px 2px rgb(255, 125, 125);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

form {
    font-size: 20px;
    margin: 40px auto;
    color: #509CCC;
}